.blog_ID {
  display: flex;
  gap: 30%;
  background-color: rgba(0, 0, 0, 0.856);
  flex-direction: row-reverse;
}

.blod_ID_Content {
  color: rgb(248, 197, 103);
  align-self: center;
  line-height: 3rem;
}
.blod_ID_Content button {
  background-color: rgb(248, 197, 103);
  border-color: black;
  padding: 0.5rem;
}
.blod_ID_Content > a {
  text-decoration: none;
  color: black;
}
.blod_ID_Content button:hover {
  background-color: rgb(241, 165, 24);
}

.blog_ID > img {
  margin-right: 13%;
  padding: 2rem;
  width: 15%;
}
.main {
  display: flex;
  flex-direction: row;
  margin: 3% auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  gap: 20%;
}
.login {
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 2px solid black;
  padding: 5rem;
  border-radius: 2rem;
}
.login > h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: cursive;
}
.login > p {
  color: red;
  align-self: center;
  margin-bottom: 1rem;
}
.login > input {
  align-self: center;
  margin-bottom: 10%;
  width: 10rem;
  padding: 0.5rem;
}
.login > button {
  align-self: center;
  width: min-content;
  border-color: rgb(248, 197, 103);
  background-color: rgb(248, 197, 103);
  padding: 0.5rem;
}
.aboutMe,
.aboutMe_Center {
  background-color: rgba(0, 0, 0, 0.856);
  color: rgb(248, 197, 103);
  font-family: cursive;
  padding: 1rem;
  line-height: 3rem;
}
.hide_Login {
  display: none;
}
.main_Center {
  display: flex;
  flex-direction: row;
  margin: 2% auto;
  align-items: center;
  justify-content: center;
}
