.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.856);
  color: rgb(248, 197, 103);
  font-family: cursive;
  bottom: 0;
  padding: 1rem;
}
.footer label {
  color: rgb(248, 197, 103);
}
